:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: transparent;
    color: #254e58;
    border: 1px solid #254e58;
    transition: all 0.3s ease-out;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--primary:hover{
    background: #254e58;
    color: #fff;
}

.btn--outline:hover{
    background: #fff;
    color: #254e58;
}