* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: 3rem;
  margin: 40px auto;
}

.catalog{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  /* background-image: url('/src/components/images/cart.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #254e58;
  /* font-size: 100px; */
}

.catalog {
  /* background-image: url('/src/components/images/catalog.jpg'); */
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* color: #fff;
  font-size: 100px; */
}